name: "Build Windows .exe"
on: [push]

jobs:
  export-windows:
    runs-on: ubuntu-latest  # You can build Windows .exe on Linux runners!
    name: Export Windows
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Godot
        uses: lihop/setup-godot@v3
        with:
          version: "4.3-stable"
          export-templates: true

      - name: Create Build Directory
        run: mkdir -v -p build/windows

      - name: Windows Export
        # "Windows Desktop" must match the name of your preset in Godot
        run: godot --headless --export-release "Windows Desktop" build/windows/holo_ve.exe

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: build/windows